@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/InterTight-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/InterTight-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/InterTight-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
  */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
  */
 svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor }

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
  */
/* @media (prefers-reduced-motion: reduce) {
   * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  position: relative;
  min-width: 1280px;
  width: 1280px;
  margin-inline: auto;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #FBFBFB;
  background-color: #7A3145;
  box-shadow: 0 0 10px 10px #622133;
}

.container {
  max-width: calc(1080px + 15px * 2);
  margin-inline: auto;
  padding-inline: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-transform: uppercase;
}

a {
  color: #FBFBFB;
}

/*---header---*/

header {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 100px;
  background-color: transparent;
}

.header-logo {
  flex-shrink: 0;
  margin-right: auto;
  transition-duration: 0.2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header-navigation-list {
  display: flex;
  column-gap: 8px;
}

.header-navigation-link {
  display: inline-flex;
  align-items: center;
  height: 44px;
  padding: 12px;
  text-decoration: none;
  border: 1px solid #FBFBFB40;
  border-radius: 12px;
  letter-spacing: -0.02em;
  white-space: nowrap;
  background-color: transparent;
  transition-duration: 0.2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header-shop-button {
  display: inline-flex;
  align-items: center;
  height: 52px;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  white-space: nowrap;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  color: #FBFBFB;
  background-color: #7A3145;
  transition-duration: 0.2s;
}

/*---hero---*/

.hero-body {
  display: flex;
  min-height: 800px;
  background-color: #576F35;
}

.hero-info {
  min-width: 502px;
  margin: auto 28px 0 100px;
  padding-bottom: 50px;
}

.hero-title {
  margin-bottom: 128px;
  font-size: 76px;
  line-height: 1;
  letter-spacing: -0.01em;
}

.hero-description {
  padding-right: 30px;
}

.hero-image {
  min-width: 650px;
  background-color: #14141420;
  background-image: url("../images/1.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

/*---how it works---*/

.transparency-thirty {
  opacity: 0.3;
}

.text-bold {
  font-weight: 700;
  color: #141414;
}

.how-it-works-body {
  display: flex;
}

.how-it-works-image-wrapper {
  min-width: 630px;
  padding: 100px;
}

.how-it-works-image {
  width: 430px;
  height: 559px;
  border-radius: 30px;
  background-color: #14141430;
  background-image: url("../images/2.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.how-it-works-info {
  padding: 100px;
  padding-bottom: 160px;
  background-color: #576F35
}

.how-it-works-title {
  margin-bottom: 25px;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.how-it-works-description {
  margin-bottom: 50px;
}

.how-it-works-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  counter-reset: custom-counter;
  list-style: none;
}

.how-it-works-item {
  counter-increment: custom-counter;
  border-radius: 15px;
  padding: 18px 25px;
  background-color: #FBFBFB;
}

.how-it-works-item-description {
  display: flex;
  align-items: center;
  column-gap: 24px;
  letter-spacing: -0.02em;
  color: #14141460;
}

.how-it-works-item-description::before {
  content: counter(custom-counter);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  aspect-ratio: 1;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #FBFBFB;
  background-color: #7A3145;
  outline: 5px solid #7A314530;
  border-radius: 50%;
}

/*---advertisement---*/

.advertisement {
  background-color: #FBFBFB;
}

.advertisement-description {
  margin-inline: 100px;
  padding-block: 100px;
  font-weight: 600;
  font-size: 76px;
  line-height: 1.05;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.advertisement-description-bg {
  padding-inline: 3px;
  border-radius: 12px;
  color: #FBFBFB;
  background-color: #576F35;
}

/*---vegetables---*/

.vegetables-inner {
  padding-block: 100px;
  margin-inline: 100px;
}

.vegetables-title {
  margin-bottom: 25px;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.01em;
}

.vegetables-info {
  margin-bottom: 50px;
}

.vegetables-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px 21px;
}

.vegetables-item {
  padding: 32px;
  border-radius: 40px;
  background-color: #FBFBFB;
}

.vegetables-card-title {
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: lowercase;
  color: #7A3145;
}

.vegetables-card-info {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

/*---reviews---*/

.text-green {
  color: #576F35;
}

.reviews {
  background-color: #FBFBFB;
}

.reviews-inner {
  margin-inline: 100px;
  padding-block: 100px;
}

.reviews-title {
  margin-bottom: 25px;
  font-size: 64px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #141414;
}

.reviews-info {
  margin-bottom: 50px;
  color: #141414;
}

.reviews-list {
  display: flex;
  column-gap: 25px;
}

.reviews-item {
  min-width: 343px;
  padding: 20px;
  border: 1px solid #7A314530;
  border-radius: 24px;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #141414;
}

.review-image {
  margin-bottom: 24px;
  border-radius: 50%;
  background-color: #E0E0E0;
}

.review-title {
  text-transform: capitalize;
}

.review-description {
  line-height: 1.4;
  text-align: center;
  color: #14141440;
}

/*---contact form---*/

/*---media---*/

@media (hover: hover) {
  .header-logo:hover {
    scale: 0.9;
  }
}

@media (hover: none) {
  .header-logo:active {
    scale: 0.9;
  }
}

@media (hover: hover) {
  .header-navigation-link:hover {
    scale: 0.9;
    background-color: #62213390;
  }
}

@media (hover: none) {
  .header-navigation-link:active {
    scale: 0.9;
    background-color: #62213390;
  }
}

@media (hover: hover) {
  .header-shop-button:hover {
    background-color: #622133;
    scale: 0.9;
  }
}

@media (hover: none) {
  .header-shop-button:active {
    background-color: #622133;
    scale: 0.9;
  }
}

